@font-face
  font-family: 'Roboto'
  src: url('../fonts/Roboto/Roboto-Bold.eot')
  src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format("embedded-opentype"), url('../fonts/Roboto/Roboto-Bold.woff') format("woff"), url('../fonts/Roboto/Roboto-Bold.ttf') format("truetype")
  font-weight: bold
  font-style: normal


@font-face
  font-family: 'Roboto'
  src: url('../fonts/Roboto/Roboto-Regular.eot')
  src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/Roboto/Roboto-Regular.woff') format("woff"), url('../fonts/Roboto/Roboto-Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Roboto'
  src: url('../fonts/Roboto/Roboto-Light.eot')
  src: url('../fonts/Roboto/Roboto-Light.eot?#iefix') format("embedded-opentype"), url('../fonts/Roboto/Roboto-Light.woff') format("woff"), url('../fonts/Roboto/Roboto-Light.ttf') format("truetype")
  font-weight: 300
  font-style: normal


@font-face
  font-family: 'Roboto'
  src: url('../fonts/Roboto/Roboto-Medium.eot')
  src: url('../fonts/Roboto/Roboto-Medium.eot?#iefix') format("embedded-opentype"), url('../fonts/Roboto/Roboto-Medium.woff') format("woff"), url('../fonts/Roboto/Roboto-Medium.ttf') format("truetype")
  font-weight: 500
  font-style: normal


@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?9xdnx')
  src: url('../fonts/icomoon/icomoon.eot?9xdnx#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?9xdnx') format("truetype"), url('../fonts/icomoon/icomoon.woff?9xdnx') format("woff"), url('../fonts/icomoon/icomoon.svg?9xdnx#icomoon') format("svg")
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

.icon-angle-bottom:before
  content: "\e900"

.icon-angle-left:before
  content: "\e901"

.icon-angle-right:before
  content: "\e902"

.icon-angle-up:before
  content: "\e903"

.icon-arrow-right:before
  content: "\e904"

.icon-burger:before
  content: "\e905"

.icon-check:before
  content: "\e906"

.icon-cross:before
  content: "\e907"

.icon-doc:before
  content: "\e908"

.icon-ecology:before
  content: "\e909"

.icon-expert:before
  content: "\e90a"

.icon-facebook:before
  content: "\e90b"

.icon-flag:before
  content: "\e90c"

.icon-image:before
  content: "\e90d"

.icon-maternity:before
  content: "\e90e"

.icon-play:before
  content: "\e90f"

.icon-search:before
  content: "\e910"

.icon-users:before
  content: "\e911"

.icon-vk:before
  content: "\e912"