@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------
header
	padding: 22px 0 0
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)
	background: url(../img/header-bg.jpg) no-repeat center
	background-size: cover

.container
	max-width: 1148px
	
		
.content
	min-height: calc(100vh - 144px)

.justify-align
	display: flex
	justify-content: space-between
	align-items: center

.left-align
	display: flex


.right-align
	display: flex
	justify-content: flex-end

.center-align
	display: flex
	justify-content: center
	align-items: center

.flex
	display: flex
	flex-wrap: wrap

.container
	width: 1194px


.header-top__right
	width: 316px


.visually-impaired
	font-size: 14px
	color: $gray
	border-bottom: 1px dashed $gray

	&:hover, &:focus
		color: #333
		border-color: #333
		opacity: 1

.soc-btn
	list-style: none

	li
		display: inline-block
		margin-left: 10px

		&:first-child
			margin-left: 0

		a
			display: flex
			align-items: center
			justify-content: center
			width: 28px
			height: 28px
			border: 1px solid #D9D9DE
			color: #D9D9DE
			font-size: 16px
			font-family: 'icomoon'
			border-radius: 50%

			&:hover
				opacity: 1
				background: $blue
				color: #fff


.header-top__address
	margin-top: 15px
	p
		font-size: 14px
		line-height: 18px
		color: $gray
		text-align: justify

	a
		color: $gray

.header-nav
	transform: translate(-100px 0)
	transition: all .3s

.header-nav__fixed
	position: fixed
	left: 0
	right: 0
	top: 0
	background: #fff
	max-width: 1118px
	padding: 0 15px
	margin: 0 auto
	z-index: 9999
	transform: translate(0 0)


.navbar
	min-height: 0
	margin: 0
	border: none
	border-radius: 0
	border: none

.navbar-collapse
	padding-right: 0
	padding-left: 0
	border-top: none
	-webkit-box-shadow: none
	box-shadow: none

.navbar-nav
	float: none
	margin: 0

.nav.navbar-nav
	&::before, &::after
		display: none

.navbar-nav 

	> li
		float: none
		display: inline-block
		margin-right: -0.3em

		&:first-child
			> a
				margin-left: 0
		&:last-child
			> a
				margin-right: 0

		> a
			display: block
			padding: 20px 0
			margin: 0 10px
			font-size: 14px
			color: $gray
			border: none

			&.active, &:hover, &:focus
				color: $gray
				opacity: 1
				background-color: transparent

			&::after
				content: ''
				position: absolute
				bottom: -3px
				left: 0
				width: 100%
				height: 3px
				background: $blue
				opacity: 0
				border-radius: 20px
				transition: height 0.3s, opacity 0.3s, transform 0.3s
				transform: translateY(-10px)


.navbar-nav > li > a:hover::after, .navbar-nav > li > a:focus::after, .navbar-nav > li > a.active::after 
	height: 3px
	opacity: 1
	-webkit-transform: translateY(0px)
	-ms-transform: translateY(0px)
	transform: translateY(0px)





.nav .open > a
	background-color: transparent
	border-color: transparent
	color: $gray
	&:focus, &:hover
		background-color: transparent
		border-color: transparent


.btn
	display: inline-block
	padding: 6px 22px
	font-size: 14px
	color: $gray
	background: #F5F5F7
	border-radius: 0
	outline: none

	&:focus, &:hover
		opacity: 1
		color: #333


.btn-blue
	padding-left: 34px
	padding-right: 34px
	color: #fff
	background: $blue
	border-radius: 3px

	&:hover, &:focus
		color: #fff
		background: #1177B4
		opacity: 1

.btn-transparent
	border: 1px solid #E5E5EB
	color: #76767A
	font-size: 16px
	background-color: transparent
	border-radius: 3px

	&:hover, &:focus
		color: #333
		border-color: #B5B3B8
		opacity: 1

.btn-white__transparent
	padding: 8px 60px
	border: 1px solid #F5F5F7
	color: #F5F5F7
	font-size: 14px
	background-color: transparent
	border-radius: 3px

	&:hover, &:focus
		color: #76767A
		background: #F5F5F7
		opacity: 1

.btn-blue__transparent
	padding: 9px 15px
	color: #0050B2
	font-size: 16px
	line-height: 19px
	border-radius: 5px
	border: 1px solid #0050B2
	background-color: transparent
	transition: all .3s

	&:hover, &:focus
		color: $blue
		border-color: $blue


.burger-button
	display: block
	padding: 0
	margin: 0 0 0 42px
	outline: 0
	border: none
	background-color: transparent

	.icon-burger
		color: #D9D9DE
		font-size: 30px
		vertical-align: sub

.modal-window
	display: none

.modal-menu
	width: 100%
	padding: 0
	background: #fff

	.fancybox-button
		display: none

	.logo
		max-width: 300px

.modal-menu__header
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)

.modal-menu__top
	list-style: none
	

	li
		display: inline-block
		margin: 0 10px

		a
			display: block
			font-size: 14px
			color: $gray

.modal-menu__close
	border: none
	outline: none
	background-color: transparent
	padding: 0

	i
		font-size: 18px
		color: #D9D9DE

.modal-menu__body
	padding: 44px 0 20px

.modal-menu__item
	padding-bottom: 20px
	margin-bottom: 25px
	border-bottom: 1px solid #E5E5EB

	&:last-child
		border-bottom: 0

	ul
		list-style: none

		li
			display: block
			margin-bottom: 10px

			a
				font-size: 14px
				color: #4F4F4F

				&:hover, &:focus
					color: #2C94D2
					opacity: 1

.modal-menu__item--header
	display: inline-block
	margin-bottom: 20px
	font-size: 16px
	font-weight: 500
	color: #4F4F4F

.modal-menu__footer
	padding: 0 0 40px

	.btn-blue
		min-width: 194px



.search-form
	position: relative
	width: 100%
	

	input
		width: 100%
		height: 38px
		padding: 0 34px 0 15px
		border: 1px solid #E5E5EB
		box-sizing: border-box
		border-radius: 3px

	button
		position: absolute
		right: 15px
		top: 10px
		background-color: transparent
		outline: none
		border: none
		padding: 0
		z-index: 1

		i
			color: #D9D9DE
			font-size: 18px


.modal-menu__footer--links
	padding: 6px 0 0

	a
		font-size: 14px
		color: #76767a
		border-bottom: 1px dashed #76767a



.modal-question__body
	padding: 45px 0 40px
	border-top: 6px solid $blue

	h2
		margin-bottom: 32px

.modal-question__wrapper
		padding: 0 150px

.tabs-item
	display: none

	&.active
		display: block


.modal-question
	h2
		margin-bottom: 33px










		

.person-item
	display: flex
	align-items: center
	justify-content: center
	height: 75px
	font-size: 16px
	padding: 0
	margin-bottom: 25px
	width: 100%
	background-color: transparent
	color: #B5B3B8
	border-radius: 5px
	border: 1px solid #E5E5EB
	outline: none
	

	&.active, &:hover
		opacity: 1
		color: #fff
		background: $blue
		border-color: $blue












.form

	.btn-blue
		padding-top: 7px
		padding-bottom: 7px
		border-radius: 5px

	*::-webkit-input-placeholder 
		font-size: 16px
		color: #B5B3B8
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease

	*:-moz-placeholder 
		font-size: 16px
		color: #B5B3B8
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease


	*::-moz-placeholder 
		font-size: 16px
		color: #B5B3B8
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease


	*:-ms-input-placeholder 
		font-size: 16px
		color: #B5B3B8
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease











































.banner-slider
	margin-top: 40px

.banner-slider__item
	position: relative

	img
		margin: 0 auto

.slick-slide
	outline: none

.banner-slider__overlay
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	display: flex
	align-items: flex-end

.banner-slider__text
	max-width: 725px

.banner-slider__btn
	display: flex

	button
		display: flex
		align-items: center
		justify-content: center
		width: 50px
		height: 50px
		padding: 0
		background: $blue
		border: none
		outline: none

		&:hover, &:focus
			opacity: 1
			background: #6DC8F2

		i
			font-size: 23px
			color: #fff



.banner-slider__text--wrap
	padding: 20px 50px
	background: rgba(45, 148, 210, 0.8)
	backdrop-filter: blur(20px)

	>span
		display: block
		font-size: 14px
		color: #fff

	p
		font-weight: 500
		font-size: 26px
		color: #fff

.news-block
	padding: 60px 0 30px

.news-block__item
	padding: 0 0 25px
	margin-bottom: 25px
	display: flex
	justify-content: space-between
	border-bottom: 1px solid #E5E5EB


.news-block__img
	a
		display: block
	img
		display: block

.news-block__info
	position: relative
	top: -3px
	width: calc(100% - 160px)
	padding: 0 0 0 32px

	p
		margin-bottom: 18px
		font-size: 16px
		line-height: 19px
		color: #333

		a
			color: #333

.news-block__date
	font-size: 14px
	line-height: 16px

.news-block__item--big
	display: block
	margin: 0
	border: none

	.news-block__info
		padding: 25px 0 0
		width: auto

		h3
			margin-bottom: 15px
			font-weight: 500
			font-size: 22px
			line-height: 26px
			color: #2F3444

			a
				color: #2F3444



	
.bg-gray
	background: #F5F5F7

.section
	padding: 35px 0

	h2
		margin-bottom: 28px

.announcement-list
	margin-bottom: 25px

.announcement-list__item
	display: flex
	justify-content: space-between
	padding: 15px 0
	border-top: 1px solid #E5E5EB

	&:hover
		opacity: 1

		.announcement-list__item--date
			background: #0095D5

			span
				color: #fff

	&:last-child
		border-bottom: 1px solid #E5E5EB

.announcement-list__item--date
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	width: 80px
	height: 60px
	border-radius: 3px
	border: 1px solid #E5E5EB
	transition: all .3s

	span
		text-align: center
		color: #76767A
		transition: all .3s

		&:first-child
			font-size: 18px
			line-height: 21px

		&:last-child
			font-size: 14px
			line-height: 16px



.announcement-list__item--info
	width: calc(100% - 80px)
	padding: 0 0 0 100px

	p
		margin-bottom: 9px
		font-size: 16px
		line-height: 19px
		color: #333

	>span
		font-size: 12px
		line-height: 14px
		color: #828282

#datetimepicker
	border: 1px solid #E5E5EB

.bootstrap-datetimepicker-widget table thead tr:first-child
	background: $blue

.bootstrap-datetimepicker-widget table thead tr:first-child th 
	padding: 15px 0
	color: #fff
	font-size: 16px

.bootstrap-datetimepicker-widget table thead tr:last-child th
	color: $blue

.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th
	border-radius: 0
	font-size: 14px

.bootstrap-datetimepicker-widget table th

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover
	background-color: transparent

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover
	background: $blue
span.glyphicon.glyphicon-time 
	display: none
.bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new
	color: #ccc

.birthday
	margin: 50px 0 33px

.birthday-box
	padding: 25px 0
	position: relative
	display: flex
	align-items: center
	justify-content: center
	background-color: $blue
	background-image: url(../img/Subtract.png)
	background-repeat: no-repeat
	background-position: center left

	&::before


	&__text
		color: #fff
		strong
			display: block
			font-weight: 500
			font-size: 22px
			line-height: 26px
		span
			display: block
			margin-top: 10px
			font-size: 16px
			line-height: 19px
	&__foto
		margin: 0 40px
		img
			display: block
			border-radius: 50%
			border: 8px solid #56A9DB

.hot-line
	margin-bottom: 30px
	&__item
		position: relative
		padding: 38px 70px
		background: #F5F5F7
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1)
		border-radius: 5px
		border-left: 5px solid transparent


		h6
			margin-bottom: 24px

		&:hover
			border-color: $blue
			.hot-line__arrow
				opacity: 1


		p
			font-size: 16px
			line-height: 19px
			color: #333


			
	&__arrow
		opacity: 0
		position: absolute
		right: 30px
		top: 45%
		display: flex
		align-items: center
		justify-content: center
		width: 37px
		height: 37px
		background: $blue
		border-radius: 50%
		z-index: 1

		&:hover
			background: #1177B4

		i
			font-size: 12px
			color: #fff

.slider
	padding: 0 80px

	.slick-prev, .slick-next
		top: 55%

	.slick-prev
		left: 0

	.slick-next
		right: 0

	.slick-prev::before, .slick-next::before
		content: ''
		font-family: 'icomoon'
		background-color: transparent
		width: 18px
		height: 18px
		font-size: 14px
		display: flex
		align-items: center
		justify-content: center
		color: #76767A
		opacity: 1
		
	.slick-prev::before 
		content: '\e901'
		left: 0
		background-color: transparent
	.slick-next::before
		content: '\e902'
		right: 0
		background-color: transparent
		&:hover, &:focus
			


.people-slider
	padding-top: 25px
	border-top: 1px solid #E5E5EB

	&__item
		text-align: center
		img
			margin: 0 auto 12px
			border-radius: 50%
		span
			font-size: 14px
			line-height: 16px

		a
			color: #76767A
			font-size: 14px
			line-height: 16px



.voting-box
	padding: 20px 0 0
	border-top: 1px solid #E0E0E0

	h3
		margin-bottom: 13px

	.btn
		margin-top: 10px


.voting-list
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	list-style: none
	li
		width: 45%
		margin: 0 0 12px 0
		display: inline-block

		input[type="radio"]
			display: none
			+ label
				position: relative
				display: block
				padding: 13px 20px 13px 52px
				border: 2px solid transparent
				cursor: pointer
				background: #fff
				border-radius: 3px
				font-size: 16px
				color: #333

				&::before
					content: ''
					position: absolute
					display: flex
					align-items: center
					justify-content: center
					left: 14px
					top: 12px
					width: 21px
					height: 21px
					border: 1px solid #76767A
					border-radius: 50%
				
			&:checked + label
				background-color: transparent
				border-color: $blue
				&::before
					content: '\e906'
					font-family: 'icomoon'
					font-size: 9px
					color: #fff
					background: $blue
					border-color: $blue

.opinion
	padding: 55px 0

	&-block
		display: flex

	&-who
		display: flex
		align-items: center
		padding: 0 20px 0 40px
		height: 215px
		width: 380px
		border-radius: 5px
		background-color: $blue
		background-image: url(../img/quotes.png)
		background-repeat: no-repeat
		background-position: 92% 88%

		img
			display: block
			border-radius: 50%
			border: 8px solid #56A9DB

		span, a
			display: inline-block
			padding: 0 0 0 30px
			font-size: 16px
			line-height: 19px
			color: #fff

	&-info
		width: calc(100% - 380px)
		padding: 0 0 0 70px
		display: flex
		justify-content: center
		flex-direction: column
		border-top: 1px solid #E0E0E0
		border-bottom: 1px solid #E0E0E0

		p
			margin-bottom: 15px
			font-size: 16px
			line-height: 19px
			color: #333

			&:last-child
				margin-bottom: 0

.contests
	padding: 0 0 60px

.contests-block
	display: flex

.contests-info
	margin-bottom: 20px
	&__item
		padding: 20px 0
		border-bottom: 1px solid #E0E0E0

		&:first-child
			position: relative

			&::before
				content: ''
				position: absolute
				left: 0
				right: 0
				top: 0
				width: 100%
				height: 4px
				border-radius: 4px
				background: $blue

		> span
			display: inline-block
			width: 190px
			font-size: 14px

		> a
			display: inline-block
			width: calc(100% - 194px)
			font-size: 16px
			line-height: 19px
			color: #333

.contests-img
	display: flex
	align-items: center
	justify-content: center
	background: #F5F5F7
	height: 100%


.links
	padding: 40px 0

	&-item
		position: relative
		display: flex
		align-items: center
		height: 112px
		padding: 22px 70px  22px 32px
		margin-bottom: 12px
		background: #fff
		border-radius: 5px
		border-left: 4px solid transparent

		&::after
			opacity: 0
			content: '\e902'
			position: absolute
			display: flex
			align-items: center
			justify-content: center
			top: 38px
			right: 32px
			width: 37px
			height: 37px
			border: 1px solid #76767A
			border-radius: 505px
			font-size: 12px
			color: #76767A
			font-family: 'icomoon'
			transition: all .3s

				

		&:hover
			opacity: 1
			border-color: $blue
			box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1)
			&::after
				opacity: 1
				

		&__img
			width: 74px
			text-align: center

		&__info
			padding: 0 0 0 24px

			h3
				margin-bottom: 8px

.partners
	padding: 60px 0

	&-slider
		padding: 27px 60px 0
		border-top: 1px solid #E0E0E0

		&__item
			text-align: center
			.center-align
				height: 154px
				width: 154px
				display: inline-flex
				border: 1px solid #E0E0E0


footer
	padding: 40px 0
	background: #333

	*
		color: #F5F5F7

.footer-wrap
	display: flex
	align-items: flex-start
	justify-content: space-between

.footer-address
	h3
		margin-bottom: 26px

	&__list
		list-style: none

		li
			margin-bottom: 14px
			font-size: 14px
			line-height: 16px

			&:last-child
				margin-bottom: 0

.footer-links
	width: 70%

	>ul
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		margin-bottom: 30px
		list-style: none

		li
			width: 25%
			margin-bottom: 12px
			font-size: 13px

	>.justify-align
		margin-bottom: 25px

	.visually-impaired
		color: #F5F5F7
		border-color: #F5F5F7

	.search-form
		width: 235px
		input
			border: 1px solid #76767A
			background-color: transparent
			outline: none

		button
			top: 9px
			i
				font-size: 17px
				color: #76767A

		&:hover
			input
				opacity: 1
				border-color: #fff
				color: #fff

			button
				i
					color: #fff




.back-to-top
	display: flex
	align-items: center
	justify-content: center
	width: 38px
	height: 38px
	border: 1px solid #BDBDBD
	border-radius: 50%
	outline: none
	background-color: transparent

	i
		font-size: 18px

.footer-links__soc
	display: flex
	align-items: center

	.soc-btn
		margin: 0 0 0 152px

		a
			color: #D9D9DE

			i
				color: #D9D9DE

			&:hover
				background: #fff

				i
					color: #4B4B4B


















// INNER PAGES STYLE
.section-inner
	padding: 25px 0 0

	h1
		margin-bottom: 25px



.breadcrumbs
	margin: 0 0 34px
	max-width: 730px
	list-style: none

	li
		display: inline-block
		margin-right: -0.03em
		font-size: 14px
		color: #B5B3B8

		+ li::before
			content: "/"
			padding: 0 8px 0 3px
			font-size: 14px
			color: #76767A

		a
			position: relative
			color: #76767A

.color-gray
	color: $gray

article
	padding: 0 0 40px
	p
		margin-bottom: 20px
		font-size: 16px
		line-height: 19px
		color: #333

		strong
			font-weight: 500

	>img
		display: block
		margin-bottom: 30px
		&+h1
			margin-top: 25px


	table
		margin-bottom: 30px

		tr
			td
				padding: 18px 20px 16px
				font-size: 16px
				line-height: 19px
				color: #333
				

			
		thead
			tr
				background: #F5F5F7

				td
					text-align: center
					color: #76767A

					&:first-child
						width: 30%
						text-align: left

		tbody

			tr
				td
					border-bottom: 1px solid #E5E5EB


	>h2
		font-size: 18px
		line-height: 21px



.article-date
	display: block
	margin: 15px 0 20px

	&+h1
		font-size: 24px
		line-height: 28px

.article-links
	margin: 40px 0 30px
	list-style: none

	li
		display: block

		a
			display: flex
			padding: 15px 0
			border-top: 1px solid #E5E5EB
			font-size: 16px
			line-height: 19px
			color: #76767A

		&:last-child
			a
				border-bottom: 1px solid #E5E5EB

	&__date
		display: inline-block
		width: 190px
		font-size: 14px
		color: #76767A

	&__text
		width: calc(100% - 190px)
		color: #333

.sidebar

	.articles-item__img
		border-bottom: 14px solid #F2F2F2
	

.sidebar-nav
	list-style: none
	border: 1px solid #E5E5EB

	li
		display: block

		a
			display: block
			padding: 15px 40px
			border-top: 1px solid #E5E5EB
			border-left: 4px solid transparent
			color: #76767A
			font-size: 16px
			line-height: 19px

			&:hover, &.active
				opacity: 1
				background: #F5F5F7
				border-left-color: $blue

		&:first-child
			a
				border-top: 0


.person-box
	padding-bottom: 30px
	margin-bottom: 30px
	border-bottom: 1px solid #E5E5EB

	&__img
		border-radius: 50%

		img
			display: block

	&__info
		max-width: 350px

		p
			font-size: 16px
			line-height: 19px
			color: #4F4F4F
	
	&__name
		margin-bottom: 14px
		font-size: 18px
		line-height: 21px
		color: #2F3444
		font-weight: 500

	>span
		display: block
		font-size: 16px
		line-height: 19px
		color: #76767A

		a
			color: #76767A


.documents-list
	margin-bottom: 50px
	list-style: none

	li
		position: relative
		display: block
		padding: 15px 0 18px 62px
		border-bottom: 1px solid #E5E5EB

		a
			display: inline-block
			font-size: 16px
			line-height: 19px
			color: #0050B2
			text-decoration: underline

		&::before
			content: '\e908'
			position: absolute
			left: 0
			top: 18px
			font-size: 31px
			color: #E5E5EB
			font-family: 'icomoon'

		&:last-child
			border: 0



.documents-list__weight
	display: block
	padding: 10px 0 0
	font-size: 14px
	line-height: 16px
	color: #76767A

.our-work
	margin-top: 30px
	margin-bottom: 50px
	
	.links-item
		margin-bottom: 17px
		border: 1px solid #E5E5EB
		border-radius: 5px

		&::before
			content: ''
			opacity: 0
			position: absolute
			left: 0
			top: 0
			bottom: 0
			height: 100%
			width: 4px
			border-radius: 5px
			background: $blue
			transition: all .3s

		&::after
			border-color: #E5E5EB




		&:hover
			&::before
				opacity: 1

			.links-item__icon
				color: $blue

	.icon-maternity
		font-size: 54px

	.icon-flag
		font-size: 43px

	.icon-expert
		font-size: 42px



.links-item__icon
	font-size: 45px
	color: #E5E5EB
	transition: all .3s


.news-list
	margin: 30px 0 20px

	&__item
		padding: 24px 0
		border-top: 1px solid #E5E5EB

		h3
			margin-bottom: 18px
			font-weight: normal
			a
				font-size: 16px
				line-height: 19px
				color: #333

		&:last-child
			border-bottom: 1px solid #E5E5EB

		&__date
			display: block

	&__text
		position: relative
		top: -3px

	
.pagination-list
	margin: 25px 0 50px
	list-style: none
	text-align: center

	li
		display: inline-block
		vertical-align: middle

		a
			display: flex
			width: 28px
			height: 28px
			align-items: center
			justify-content: center
			font-size: 14px
			color: #76767A
			border-radius: 50%

		&.active
			a
				background: $blue
				color: #fff


.pagination-list .pagination-list__first,.pagination-list .pagination-list__last
	margin: 0 10px

	i
		font-size: 15px

.person-list

	&__item
		display: flex
		padding: 20px 0
		justify-content: space-between
		border-bottom: 1px solid #E5E5EB

	&__img
		width: 45px

	&__text
		width: calc(100% - 45px)
		padding: 0 0 0 30px

		h3
			margin-bottom: 5px
			line-height: 19px
			font-weight: normal

			a
				color: #0050B2

		p
			margin: 0


.submenu
	padding: 10px 0 0
	margin-bottom: 30px
	list-style: none
	border-bottom: 1px solid #E5E5EB

	li
		display: inline-block
		margin-right: 50px

		&:last-child
			margin-right: 0

		a
			position: relative
			display: block
			padding-bottom: 20px
			font-size: 22px
			line-height: 26px
			font-weight: 500
			color: #76767A

			&::after
				content: ''
				position: absolute
				bottom: -3px
				left: 0
				width: 100%
				height: 4px
				background: $blue
				opacity: 0
				border-radius: 20px
				transition: height 0.3s, opacity 0.3s, transform 0.3s
				transform: translateY(-10px)

			&.active, &:hover, &:focus
				opacity: 1
				color: #2F3444

				&::after
					transform: translateY(0)
					opacity: 1


.filters, .selectbox
	margin-bottom: 30px

	&-item
		display: flex
		align-items: center
		min-width: 230px
		border: 1px solid #E5E5EB
		border-radius: 3px

	&.left-align
		.filters-item
			margin-right: 20px

			&:last-child
				margin-right: 0



	.jq-selectbox
		width: 100%
		

	.jq-selectbox__select
		font-size: 14px
		color: #76767A

	.jq-selectbox__select-text
		position: relative
		padding: 10px 30px

		&::after
			content: '\e902'
			position: absolute
			right: 15px
			top: 15px
			font-family: "icomoon"
			color: #828282
			font-size: 12px
			transform: rotate(90deg)

	.jq-selectbox__dropdown 
		top: 40px!important
		left: 0px!important
		z-index: 999
		min-width: 229px
		border: 1px solid #E5E5EB


		ul
			max-height: 145px !important
			background: #fff
			list-style: none
			li
				padding: 8px 20px
				
				transition: all .3s

				&:hover
					background: #F5F5F7


	select:hover, select
		opacity: 0
		visibility: hidden

.articles-item
	margin-bottom: 30px

	&__img
		margin-bottom: 12px

		a
			display: block
		img
			display: block

	&__info

		h3
			a
				color: #333

	&__date
		display: block
		margin-top: 10px


.article-share
	margin: 40px 0


.article-arrows
	position: relative
	margin-bottom: 45px
	padding: 20px 0 27px
	border-top: 1px solid #E5E5EB
	border-bottom: 1px solid #E5E5EB

	&::before
		content: ''
		position: absolute
		left: 50%
		height: 75%
		margin: auto
		width: 1px
		top: 0
		bottom: 0
		background: #E5E5EB


	>.justify-align
		align-items: flex-start

.article-arrows__btn
	position: relative
	top: 12px
	.icon
		display: flex
		align-items: center
		justify-content: center
		width: 33px
		height: 33px
		background: $blue
		font-size: 16px
		vertical-align: middle
		color: #fff
		border-radius: 50%

.article-arrows__text
	padding: 0 0 0 15px
	max-width: 300px

.article-arrows__right
	.article-arrows__text
		padding: 0 15px 0 0 
		text-align: right

.article-arrows__text
	a
		display: block
		line-height: 24px
		font-size: 16px

		&.article-arrows__links
			margin-bottom: 3px
			color: #B5B3B8
			font-size: 14px

		&.article-arrows__popular
			color: #76767A
			font-size: 14px
			line-height: 16px

.event-gallery
	margin-bottom: 50px
	h2
		padding: 0 0 15px
		border-bottom: 1px solid #E5E5EB
	p
		color: #776677

		a
			color: #776677

.gallery-img
	a
		position: relative
		display: block

		img
			display: block
		
		&::before, &::after
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			transition: all .3s

		&:hover
			opacity: 1

			&::before
				background: rgba(38, 155, 216, 0.7)

			&::after
				content: '\e904'
				margin: auto
				font-family: 'icomoon'
				font-size: 40px
				width: 40px
				height: 40px
				color: #fff



.articles
	margin-bottom: 50px
	h3
		font-weight: normal
		content
		a
			color: #76767A

.video
	&-item
		padding: 0 0 20px
		margin-bottom: 22px
		border-bottom: 1px solid #E5E5EB
		>a
			position: relative
			display: block

			img
				display: block
		
			&::before, &::after
				content: ''
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				transition: all .3s

			&:hover
				opacity: 1

				&::before
					background: rgba(38, 155, 216, 0.7)

				&::after
					content: '\e90f'
					margin: auto
					font-family: 'icomoon'
					font-size: 85px
					width: 85px
					height: 85px
					color: #fff
		&:hover
			h3
				color: #333

				a
					opacity: 1
					color: #333

		&__info
			margin-top: 15px

			h3
				min-height: 38px
				margin-bottom: 8px
				font-weight: normal
				color: #76767A
				transition: all .3s

				a
					color: #76767A
		
			.left-align
				>span
					display: inline-block
					margin-right: 20px

					&:last-child
						margin-right: 0

		&__duration
			position: relative
			padding: 0 0 0 26px

			&::before
				content: '\e90f'
				position: absolute
				left: 0
				top: 2px
				font-family: 'icomoon'
				font-size: 16px
				width: 16px
				height: 16px
				color: #76767A

.contact-top
	padding: 30px 0 30px
	border-top: 1px solid #E5E5EB

	p
		margin-right: 32px
		font-size: 14px
		line-height: 16px

		&:last-child
			margin-right: 0


	p.contact-top__header
		font-size: 16px
		line-height: 19px
		color: #333

.contact-person__wrap
	margin-top: 40px
	margin-bottom: 40px

	h3
		margin-bottom: 15px
		font-size: 18px

.contact-person

	

	&__item
		display: flex
		align-items: center
		justify-content: space-between
		padding: 16px 0
		border-top: 1px solid #E5E5EB

		&:last-child
			border-bottom: 1px solid #E5E5EB

	&__position
		width: 28%
		color: #76767A
		font-size: 16px
		font-weight: 500
		line-height: 19px

	&__name
		align-items: center
		width: 30%
		flex-wrap: wrap
		font-size: 16px
		line-height: 19px
		color: #333
		img
			display: block
			margin-right: 30px
			border-radius: 50%

		strong
			display: block
			
	&__tel
		width: 16%
		span
			display: block

		a
			color: #76767A

.map
	margin-top: 60px
	height: 560px

#googleMap
	width: 100%
	height: 100%



.photo-item
	margin-bottom: 22px
	padding-bottom: 22px
	border-bottom: 1px solid #E5E5EB
	&__img
		position: relative
		display: block
		margin-bottom: 20px

		&::before, &::after
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			transition: all .3s
		
		img
			display: block

	h3
		font-weight: normal
		color: #76767A

	&:hover
		.photo-item__img
			opacity: 1

			&::before
				background: rgba(38, 155, 216, 0.7)

			&::after
				content: '\e904'
				margin: auto
				font-family: 'icomoon'
				font-size: 40px
				width: 40px
				height: 40px
				color: #fff

	&__info
		margin-top: 15px
		span
			display: inline-block
			margin-right: 17px

			&:last-child
				margin-right: 0


			&.photo-item__count
				position: relative
				padding: 0 27px 0 0
				&::after
					content: '\e90d'
					position: absolute
					right: 0
					top: 2px
					font-size: 16px
					color: #76767A
					font-family: 'icomoon'

.photo-item__wrap
	margin-bottom: 22px
	border-bottom: 1px solid #E5E5EB
	.photo-item
		border: none
		margin-bottom: 0

.fancybox-slide
	padding: 0

.fancybox-content
	width: auto

.fancybox-slide--html .fancybox-close-small
	padding: 5px
	color: #D9D9DE
	opacity: 1

	&:hover
		color: #76767a

.fancybox-is-open .fancybox-bg
	opacity: .4
.photo-hidden
	display: none
	padding: 0

	&__slider
		max-width: 1516px
	&__item
		

		&--img
			width: 65%
			position: relative

	&__content
		width: 35%
		padding: 45px 30px
		display: flex
		flex-direction: column
		justify-content: space-between

		>h3
			position: relative
			padding: 0 0 27px
			font-weight: normal

			&::before
				content: ''
				position: absolute
				left: 0
				bottom: -2px
				height: 4px
				width: 160px
				background: $blue
				border-radius: 5px
				z-index: 1

			&::after
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: 0
				width: 100%
				height: 1px
				background: #E5E5EB

		&--bottom
			h3
				margin-bottom: 15px
				color: #76767A
				font-weight: normal

			p
				font-size: 16px
				line-height: 19px
				color: #333

.photo-hidden__btn
	position: absolute
	right: 0
	bottom: 0


.photo-hidden__btn
	display: flex

	>button
		display: flex
		align-items: center
		justify-content: center
		width: 50px
		height: 50px
		padding: 0
		background: $blue
		border: none
		outline: none

		&:hover, &:focus
			opacity: 1
			background: #6DC8F2

		i
			font-size: 23px
			color: #fff

.photo-item__gallery
	border-bottom: 0

	h2
		margin-bottom: 20px
		font-size: 18px
		line-height: 21px


	.photo-item__img
		position: relative
		display: block
		margin-bottom: 20px

		&::before, &::after
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			transition: all .3s
		
		img
			display: block

		&:hover
			opacity: 1

			&::before
				background: rgba(38, 155, 216, 0.7)

			&::after
				content: '\e904'
				margin: auto
				font-family: 'icomoon'
				font-size: 40px
				width: 40px
				height: 40px
				color: #fff

	h3
		font-weight: normal
		color: #76767A

.photo-item__gallery--wrap
	margin-top: 45px
	display: flex
	flex-wrap: wrap

.bg-fancybox__white
	.fancybox-bg
		background: #fff
		opacity: 1

	.fancybox-content
		vertical-align: top


.form-item__wrap
	h3
		margin-bottom: 20px
		font-size: 18px
		line-height: 21px
		color: #2F3444


.form-item
	position: relative
	display: flex
	justify-content: center
	flex-direction: column
	height: 75px
	padding: 0 27px
	margin-bottom: 25px
	border: 1px solid #E5E5EB
	border-radius: 5px
	transition: all .3s

	&:hover
		border-color: #B5B3B8

	&__error
		border-color: #EA543C

		&:hover
			border-color: #EA543C

	&__valide
		border-color: #E5E5EB
			

		input
			opacity: 1

	label
		display: block
		margin-bottom: 5px
		font-size: 12px
		line-height: 14px
		color: #333

		&.error
			position: absolute
			left: 27px
			bottom: -23px
			font-size: 12px
			color: #EA543C

	input
		width: 100%
		border: none
		outline: none
		font-size: 16px
		color: #333
		background-color: transparent


	&.selectbox
		margin-bottom: 25px

		select
			display: none

		.jq-selectbox__select-text
			padding: 5px 30px 0 0
			font-size: 16px
			color: #B5B3B8

			&::after
				top: 8px
				right: 0

	.jq-selectbox__dropdown
		position: absolute
		top: 40px !important
		left: -29px !important
		width: calc(100% + 59px)
		min-width: 0

		ul
			overflow: hidden
			max-height: 143px!important



.form-item__textarea
	position: relative
	margin-bottom: 25px
	border: 1px solid #E5E5EB
	border-radius: 5px

	textarea
		padding: 10px 27px
		width: 100%
		height: 120px
		font-size: 16px
		border: none
		outline: none
		resize: none
		overflow-x: hidden

.textarea-count
	position: absolute
	bottom: 12px
	right: 20px
	font-size: 12px
	line-height: 14px
	color: #B5B3B8

.form-item__file
	position: relative
	padding: 27px 27px
	margin-bottom: 25px
	border: 1px solid #E5E5EB
	border-radius: 5px

	.left-align
		align-items: center


	label
		display: inline-block
		margin-right: 35px


	input[type='file']
		position: absolute
		z-index: -1
		opacity: 0

.personal
	margin-bottom: 28px
	input[type='checkbox']
		position: absolute
		z-index: -1
		opacity: 0

		+ label
			position: relative
			padding: 0 0 0 25px
			cursor: pointer

			&::before
				content: ''
				width: 17px
				height: 17px
				border: 2px solid #E5E5EB
				position: absolute
				left: 0
				top: 0
				display: flex
				align-items: center
				justify-content: center
				border-radius: 50%
				
		&:checked + label
			background-color: transparent
			border-color: $blue
			&::before
				content: '\e906'
				font-family: 'icomoon'
				font-size: 9px
				color: #fff
				background: $blue
				border-color: $blue


	span, a
		font-size: 14px
		line-height: 16px
		color: #76767A

	a
		border-bottom: 1px dashed

.modal-aftersend
	border-top: 6px solid $blue
	padding: 0 82px
	max-width: 938px
	width: 100%
	text-align: center

	&__body
		padding: 60px 0 0

	&__icon
		display: inline-flex
		align-items: center
		justify-content: center
		margin-bottom: 35px
		height: 129px
		width: 129px
		border: 3px solid #E5E5EB
		border-radius: 5px
		
	h2
		margin-bottom: 11px

	h3
		color: #333
		font-weight: normal
	
	.btn
		margin-top: 33px
		padding-top: 7px
		padding-bottom: 7px
		border-radius: 5px

.news-list__wrap
	margin: 60px 0 0
	padding: 33px 0 0
	border-top: 1px solid #E5E5EB
	text-align: left

	h2
		margin-bottom: 0

	.news-list
		margin-top: 10px
		&__item
			&:last-child
				border-bottom: 0

			&:first-child
				border-top: 0


.modal-voting
	max-width: 680px
	padding: 0
	width: 100%
	border-top: 6px solid $blue
	border-radius: 5px 5px 0 0
	background: #F5F5F7
	&__body
		padding: 38px 30px 38px 75px

	.fancybox-button
		width: 50px
		height: 50px

	&__icon
		width: 83px
		height: 83px
		border: 3px solid $blue
		display: flex
		align-items: center
		justify-content: center
		border-radius: 5px

		i
			font-size: 32px
			color: $blue

	&__text
		padding: 0 0 0 40px

		h3
			margin-bottom: 12px
			font-size: 18px
			line-height: 21px
	
		p
			font-size: 16px
			line-height: 19px


.mobile-toggler
	display: none
	position: absolute
	right: 15px
	top: 11px
	padding: 0
	border: none
	outline: none
	background-color: transparent
	z-index: 10
	
	i
		font-size: 12px


	




















@media only screen and (max-width: 1200px)
	.container
		width: 970px

	header
		background: #fff

	.modal-menu__header, .modal-question__header
		.justify-align
			position: relative
			padding: 0 50px 0 0
	.modal-menu__close
		position: absolute
		right: 0
		top: 35px

	.modal-menu__top
		display: none

	.modal-menu__footer
		.btn-blue
			min-width: auto

	.modal-menu__footer--links
		padding: 0
		display: block
		a

			&::after
				content: ''
				display: block
				width: 100%
				height: 1px

	.modal-question
		.container
			width: auto

	.modal-question__wrapper
		padding: 0

	.modal-question__body
		padding: 45px 15px 40px


	.filters
		flex-wrap: wrap
		margin-bottom: 0

		&-item
			margin-bottom: 15px


	.person-box__info
		padding: 0 10px


	article
		padding: 0 0 10px


	.section-inner__content
		padding-bottom: 30px



























@media only screen and (max-width: 991px)
	header
		padding: 10px 0 0
	.container
		width: 750px

	.navbar
		display: none

	.header-nav
		padding: 8px 0 10px
		justify-content: flex-end

	.banner-slider__text--wrap
		p
			font-size: 18px

	.announcement-calendar
		margin-top: 35px

	.birthday-box
		display: block
		text-align: center

		&__foto
			margin: 10px auto

			img
				margin: 0 auto

	.hot-line
		margin-bottom: 0

		&__item
			padding: 30px 50px
			margin: 0 0 15px

	.opinion-info
		padding: 10px 0 10px 30px

	.opinion-who
		height: auto

	.partners, .opinion
		padding: 35px 0

	.footer-wrap
		position: relative
		display: block
		

	.footer-address
		display: flex
		justify-content: space-between
		padding: 0 100px 0 0

		h3
			br
				display: none

	footer
		padding: 30px 0

	.footer-links 
		padding: 30px 0 0
		width: auto

	.back-to-top
		position: absolute
		right: 0
		top: 0

	.form-item.selectbox .jq-selectbox__select-text
		font-size: 14px

	.personal
		margin: 15px 0 25px


	.submenu
		li
			a
				font-size: 16px
				padding-bottom: 10px

				&::after
					height: 3px
					bottom: -2px

	.photo-item__img::after, .photo-item__img::before
		display: none


	.contact-top
		display: block
		padding: 30px 0 0
		
		&__header
			margin: 0 0 15px

			br
				display: none

		p
			margin: 0 0 15px

		a
			color: #76767A

	.contact-person__wrap h3
		text-align: center

	.contact-person__item
		display: block
		text-align: center


	.contact-person__position
		width: auto

	.contact-person__name
		width: auto
		display: block

		img
			margin: 10px auto

	.contact-person__tel
		width: auto


	.map 
		margin-top: 0
		height: 400px

	article
		padding: 0

	.sidebar
		margin-bottom: 30px

	.gallery-img
		margin-bottom: 10px






































@media only screen and (max-width: 767px)
	.container
		width: auto

	.logo
		max-width: 180px



	.burger-button 
		position: absolute
		right: 15px
		top: 23px
		margin: 0

	.header-nav__right
		.btn
			display: none

	.header-top__right
		width: auto
		padding: 0 60px 0 0

		.visually-impaired
			display: none

	.header-top__address
		display: none

	.header-nav
		padding: 0

	.banner-slider
		margin-top: 20px
		margin-bottom: -50px

	.banner-slider__overlay
		position: relative
		top: -50px
		display: block
		

	.banner-slider__text--wrap
		padding: 30px 18px
		margin-left: -15px
		margin-right: -15px
		background: $blue


	.news-block 
		padding: 35px 0 30px

	.voting-list
		display: block

		li
			display: block
			width: auto

	.opinion-block
		display: block

	.opinion-who
		width: auto


	.opinion-info
		width: auto
		padding: 15px 0 15px 0

	.contests-block
		display: block

	.contests 
		padding: 0 0 35px

		&-img
			margin-top: 20px

	.footer-address
		display: block
		padding: 40px 0 0
		text-align: center

	.back-to-top 
		position: absolute
		right: 0
		left: 0
		margin: 0 auto
		top: -10px

	.footer-links>ul li 
		width: 50%
		margin-bottom: 12px
		font-size: 13px
		text-align: center

	.footer-links>.justify-align
		display: block
		max-width: 280px
		margin: 0 auto
		text-align: center

		.visually-impaired
			display: inline-block
			margin-bottom: 15px

		.search-form, .btn
			width: 100%
			margin-bottom: 15px

	.footer-links__soc
		justify-content: center

		.soc-btn
			margin: 0 0 0 30px

	.slider 
		padding-left: 30px
		padding-right: 30px

	.links-item
		height: auto
		padding: 20px

		h3
			font-size: 14px

	h6
		font-size: 12px

	.modal-menu__body
		padding: 0 0 20px

	.search-form
		margin-bottom: 12px

	
	.modal-menu__footer	
		.btn-blue
			margin-top: 6px
			width: 100%

	.modal-menu__footer--links
		a
			margin-bottom: 12px

			&::after
				margin-bottom: 12px

	.modal-menu__item--header
		display: block
		padding: 11px 20px 11px 0
		margin-bottom: 0
		font-size: 14px
		line-height: 16px
		color: #76767A
		font-weight: normal
		border-bottom: 1px solid #e5e5eb

	.modal-menu__header, .modal-question__header
		.justify-align
			padding: 0 35px 0 0

	.modal-menu__close
		top: 20px

	.modal-menu
		width: 100%

		.logo
			max-width: 190px

		.soc-btn li a
			width: 23px
			height: 23px
			font-size: 13px


	.mobile-toggler
		display: inline-block


	.modal-menu__item
		border: none
		position: relative
		margin: 0
		padding: 0

		&:last-child, &:first-child
			border: 0

		ul
			display: none
			li
				margin-bottom: 0
				margin-right: -15px
				margin-left: -15px

				&.modal-menu__back
					a
						position: relative
						padding-left: 35px
						background: #F5F5F7
						font-size: 14px
						color: #76767A

						&::before
							content: '\e901'
							position: absolute
							left: 15px
							top: 11px
							font-size: 12px
							color: #76767A
							font-family: 'icomoon'
			a
				display: block
				padding: 11px 35px 11px 15px
				margin-bottom: 0
				font-size: 14px
				line-height: 16px
				color: #76767A
				font-weight: normal
				border-bottom: 1px solid #e5e5eb


	.form


		*::-webkit-input-placeholder 
			font-size: 14px

		*:-moz-placeholder 
			font-size: 14px


		*::-moz-placeholder 
			font-size: 14px


		*:-ms-input-placeholder 
			font-size: 14px

	.modal-aftersend
		padding: 0 15px

	.modal-voting
		max-width: 90%

	.modal-voting__body 
		padding: 38px 30px 30px 20px

	.modal-voting__icon
		width: 40px
		height: 40px
		border-width: 2px

		i
			font-size: 20px

	.modal-voting__text 
		padding: 0px 0 0 30px
		width: calc(100% - 40px)

	.photo-item__gallery--wrap
		margin-top: 30px
		display: flex
		flex-wrap: wrap


	.submenu
		padding: 0
		li 
			display: inline-block
			margin-right: 18px
			margin-bottom: 10px

			a
				padding: 0
				font-size: 14px


	.photo-hidden__item
		.flex
			display: block

	.photo-hidden__item--img
		padding: 40px 0 0
		width: auto

	.photo-hidden__content
		width: auto
		padding: 15px

		>h3
			padding: 0 0 15px
			margin: 0 0 15px
	

	.photo-item__wrap .photo-item,  .photo-item
		text-align: center

		img
			margin: 0 auto

	.filters
		display: block

		&-item
			margin: 0 0 10px


	.filters.left-align .filters-item, .selectbox.left-align .filters-item
		margin-right: 0

	.article-arrows
		display: block

		&::before
			display: none

		&__text
			max-width: 100%
			width: 100%


		&__left, &__right
			max-width: none
			margin: 0 auto



		&__left
			margin-bottom: 10px

	.news-list__item
		text-align: center

		h3
			margin-top: 5px
			a
				font-size: 14px
				line-height: 16px

	.person-box
		display: block
		text-align: center

		&__img
			img
				margin: 0 auto 10px

		&__info
			max-width: none



	article table tr td
		padding: 10px 15px 10px
		font-size: 14px
		line-height: 16px


		img
			margin: 0 auto

	.search-form

		*::-webkit-input-placeholder 
			color: #76767A

		*:-moz-placeholder 
			color: #76767A


		*::-moz-placeholder 
			color: #76767A


		*:-ms-input-placeholder 
			color: #76767A































@media only screen and (max-width: 480px)
	.logo
		max-width: 140px

	.modal-menu .logo
		max-width: 140px

	.burger-button
		top: 18px

	.header-top__right 
		padding: 0 45px 0 0

	.banner-slider
		margin-bottom: -30px

	.banner-slider__overlay
		top: -30px

	.banner-slider__btn
		button
			width: 30px
			height: 30px

			i
				font-size: 15px

	.banner-slider__text--wrap 
		padding: 10px
		p 
			font-size: 14px

		>span
			font-size: 12px

	.news-block__item
		display: block
	.news-block
		.col-md-8
			.news-block__item
				img
					display: none

	.news-block__info
		width: auto
		padding: 15px 0 0

	.modal-menu__close 
		top: 14px


	.news-block__item--big .news-block__info 
		h3 
			font-size: 16px
			line-height: 20px
			font-weight: normal
	
		.news-block__info
			padding: 15px 0 0

	.announcement-list__item--info
		padding: 0 0 0 30px

	.hot-line__item
		padding: 20px

	.hot-line__item
		h6
			margin-bottom: 15px
		p
			font-size: 14px
			line-height: 16px

	h2
		font-size: 20px

	.contests-info__item
		>span
			vertical-align: middle
			width: 100px
			font-size: 12px
		>a
			vertical-align: middle
			width: calc(100% - 110px)
			font-size: 14px
			line-height: 16px

	.modal-menu__header
		.justify-align
			padding: 0 30px 0 0



	.pagination-list .pagination-list__first, .pagination-list .pagination-list__last 
		margin: 0 5px

	.article-links__date
		font-size: 12px
		width: 130px

	.article-links__text
		width: calc(100% - 130px)
		font-size: 14px

	.documents-list 
		li 
			a 
				font-size: 14px
				line-height: 16px

	h1
		font-size: 20px
		line-height: 24px

	.sidebar-nav
		li 
			a
				padding: 15px 25px


	.breadcrumbs
		margin: 0 0 20px

	article table tr td 
		padding: 10px 5px 10px
		font-size: 10px
		line-height: 12px

	.article-links li a
		font-size: 14px
		line-height: 16px